nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0;
  background-color: #ffffff;
  box-shadow: gray 0px 0px 10px;

  .nav-container {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;

    .brand {
      a {
        text-decoration: none;
        font-size: 2rem;
      }
    }
    .nav-links {
      display: flex;
    }
  }
  .nav-links a {
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }
}

.main-content {
  margin-top: 6rem;
  padding-top: 2rem;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

/**
  * HOME
  */
.hero {
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  padding: 2rem;
  border-radius: 0.5rem;

  .left {
    flex: 1 1;
    margin-right: 2.5rem;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .right {
    flex: 4 1;
  }
}
