// Reset box sizing to border box
html {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: $font-colour;
  background-color: $background-colour;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-colour;
}

blockquote {
  background-color: lighten($secondary-colour, 25%);
  border-radius: 0.5rem;
  border: 2px solid $secondary-colour;
  padding: 0.5rem 1.5rem;
  margin: 2rem 0;
  color: darken($secondary-colour, 25%);

  a,
  a:visited {
    color: darken($secondary-colour, 25%);
    font-weight: bold;
  }
}
