/**
 * Variables
 * =========
 * All the variables used in the scss files and other configurational items stored here.
 */

/* Colours */

$background-colour: #fafffd;
$font-colour: #342e37;
$primary-colour: #3c91e6;
$secondary-colour: #f2dd6e;
$tertiary-colour: #004e89;
$green: #9fd356;
$red: #c1292e;
$grey: #d5d5d5;

$max-width: 1200px;

$primary-hover: lighten($primary-colour, 25%);
$secondary-hover: lighten($secondary-colour, 25%);
$link-colour: $primary-colour;
