/**
 * Variables
 * =========
 * All the variables used in the scss files and other configurational items stored here.
 */

/* Colours */

$background-colour:     #FFFFFF;
$primary-colour-dark:   #512DA8;
$primary-colour:        #673AB7;
$primary-colour-light:  #D1C4E9;
$primary-colour-text:   #FFFFFF;
$accent-colour-dark:    #F50057;
$accent-colour:         #FF4081;
$accent-colour-light:   #FF80AB;
$primary-text-colour:   #212121;
$secondary-text-colour: #757575;
$divider-colour:        #BDBDBD;

$green: #9FD356;
$red: #C1292E;
$grey: #D5D5D5;

$max-width: 1200px;

$link-colour: $accent-colour;
